@page "/customer-portal"

<h2 class="text-center my-4">Customer Portal</h2>

<div class="text-center">
    <p>Enter your Customer ID to view your accounts:</p>
    <NavLink class="btn btn-outline-primary" href="/customer/details">Find My Accounts</NavLink>
</div>

@code {

}
