@page "/employee-portal"

<h2 class="text-center my-4">Employee Portal</h2>

<div class="text-center">
    <NavLink class="btn btn-outline-secondary m-2" href="/customers">View All Customers</NavLink>
    <NavLink class="btn btn-outline-success m-2" href="/accounts">View All Accounts</NavLink>
    <NavLink class="btn btn-outline-warning m-2" href="/employee/transactions">View All Transactions</NavLink>
</div>
@code {

}
