@page "/employee-portal"
@inject NavigationManager Navigation

<h2 class="text-center my-4">Employee Portal</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 p-3">
                <h5>Customers</h5>
                <NavLink class="btn btn-purple mb-2 w-100" href="/employee/customers">
    View All Customers
</NavLink>
                <div class="input-group mb-2">
                    <input class="form-control" placeholder="Customer ID" @bind="customerId" style="max-width: 80px;" />
                    <button class="btn btn-lihtpurple" @onclick="GoToCustomerTransactions">View</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 p-3 text-center">
                <h5>Accounts</h5>
                <NavLink class="btn btn-purple mb-2 w-100" href="/employee/accounts">
                    View All Accounts
                </NavLink>

                <div class="input-group mb-2 justify-content-center">
                    <input class="form-control" placeholder="Account ID" @bind="accountId" style="max-width: 80px;" />
                    <button class="btn btn-lightpurple" @onclick="GoToAccountTransactions">View</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 p-3">
                <h5>Transactions</h5>
                <NavLink class="btn btn-purple mb-2 w-100" href="/employee/transactions">
                    All Transactions
                </NavLink>
                <NavLink class="btn btn-lightpurple mb-2 w-100" href="/make-transfer">
                    Make Transfer
                </NavLink>

                <NavLink class="btn btn-lightpurple mb-2 w-100" href="/make-deposit">
                    Make Deposit
                </NavLink>

                <NavLink class="btn btn-lightpurple w-100" href="/make-withdrawal">
                    Make Withdrawal
                </NavLink>
            </div>
        </div>
    </div>
</div>


@code {
    private int accountId;
    private int customerId;

    private void GoToAccountTransactions()
    {
        if (accountId > 0)
            Navigation.NavigateTo($"/accounts/{accountId}/transactions");
    }

    private void GoToCustomerTransactions()
    {
        if (customerId > 0)
            Navigation.NavigateTo($"/customer/all-transactions/{customerId}");
    }
}
