<header>
    <NavLink href="/" class="logo">
        <img src="images/logo.png" alt="Bank Blazor Logo" />
        <span class="header-text">Bank Blazor</span>
    </NavLink>

    <nav>
        <ul class="nav-items">
            <li>
                <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li>
                <NavLink href="/customer-portal" class="nav-link">Customer Portal</NavLink>
            </li>
            <li>
                <NavLink href="/employee-portal" class="nav-link">Employee Portal</NavLink>
            </li>
        </ul>
    </nav>
</header>

